<!DOCTYPE html>
<html>
<head>
    <title>Make Predictions</title>
</head>
<body>
    <h1>Make Predictions</h1>
    <p>Predictions have been made successfully!</p>

    <!-- Display the content of renaming_dict.txt -->
    <p>File Renaming Information:</p>
    <ul>
        {% for key, value in renaming_dict.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    <!-- Display the content of results.txt -->
    <p>Results:</p>
    <ul>
        {% for result in results %}
            <li>{{ result }}</li>
        {% endfor %}
    </ul>
</body>
</html>
