<!DOCTYPE html>
<html>
<head>
    <title>Select Reference Videos</title>
    <script>
        function disableButton() {
            // Disable the button
            document.getElementById('analyzeButton').disabled = true;
            // Change the button style to grey out
            document.getElementById('analyzeButton').style.backgroundColor = '#d3d3d3';
            // Show the analyzing message
            document.getElementById('analyzingMessage').style.display = 'block';
        }
    </script>
</head>
<body>
    <h1>Select Reference Videos</h1>
    <form method="post" action="/rename" enctype="multipart/form-data" onsubmit="disableButton()">
        <h2>Please check the box next to each video you wish to label as "Reference".</h2>
        {% for file in files %}
            <label>
                <input type="checkbox" name="reference_file" value="{{ file }}">{{ file }}
            </label>
            <br>
        {% endfor %}
        <input type="submit" id="analyzeButton" value="Analyze">
    </form>
    <p id="analyzingMessage" style="display: none;">Analyzing... Please don't close this window until the process is completed.</p>
</body>
</html>
