<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Predictions</title>
</head>
<body>
    <h1>View Predictions</h1>
    {% if predictions %}
        <ul>
            {% for prediction in predictions %}
                <li>{{ prediction }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No predictions available.</p>
    {% endif %}
</body>
</html>
